* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

input[type=text] {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    font-size: 13px;
    background-color: rgb(61, 68, 75);
    border-radius: 3px;
    border-style: none;
    text-indent: 4px;
    flex: 1;
    caret-color: white;
}

input[type=submit] {
    background: url("images/menu-icon.png");
    width: 20px;
    height: 20px;
    border: 0;
    align-self: center;
    cursor: pointer;
}

input[type=submit]:hover {
    background: url("images/menu-icon-hover.png");
}

input::placeholder {
    color: rgb(123, 131, 138);
}

input:focus::-webkit-input-placeholder {
    color: rgb(93, 97, 101);
}

*:focus {
    outline: none;
    caret-color: white;
    color: white;
}

.container {
    background-color: rgb(40, 46, 51);
    display: flex;
    height: 100vh;
}

.menu-and-search-bar {
    background-color: rgb(40, 46, 51);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 5vh;
}

.channels {
    flex-basis: 25%;
    flex-direction: column;
    border-right: 1px solid rgb(40, 46, 51);
    min-width: 0;
}

.scrollable-channels-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.search-bar {
    align-self: center;
    flex-grow: 1;
    margin-right: 7px;
}

.menu-button {
    align-self: center;
    margin: 7px;
    padding: 9px 10px 7px;
}

.channel-item:hover {
    background-color: rgb(53, 60, 67);
}

.channel-item {
    background-color: rgb(40, 46, 51);
    display: flex;
    justify-content: start;
    align-content: center;
    cursor: pointer;
    flex-wrap: nowrap;
    max-width: inherit;
}

.channel-photo {
    margin: 7px 10px;
    background-color: red;
    align-content: center;
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.channel-preview-info {
    flex: 1;
    color: white;
    line-height: 2;
    min-width: 0;
}

.channel-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-header span {
    float: right;
    white-space: nowrap;
    display: inline-block;
    margin-right:7px;
}

.public-channel {
    background-image: url("images/speaker.ico");
    width: 16px;
    height: 13px;
    display: inline-block;
}

.channel-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}